.navbarContainer {
    height: 100px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarImg {
    height: 32px;
    width: 32px;
    color: #d1411e;
}

.navbarItem {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbarItem:nth-child(2) {
    flex: 3;
}

.navbarItem:last-child {
    justify-content: flex-end;
}

.navbarCallButton {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;

}

.navbarTexts {
    margin-left: 20px;
    color: #fff;
}

.navbarText:first-child {
    font-size: 12px;
    font-weight: 500;     
}

.navbarTexts:last-child {
    font-size: 20px;
    font-weight: bold;
}

.navbarLogo {
    width: 150px;
    height: 90px;
}

.navbarItemLists {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
}

.navbarItemList {
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
}

.navbarItemBadge {
    color: #fff;
}

.cart {
    font-size: 12px;
    margin-right: 50px;
}

.navbarItemCart {
    color: #fff;
    
}

@media screen and (max-width: 1024px) {
    
    .navbarItem:nth-child(2) {
        display: none;
    }

    .navbarItem:nth-child(1) {
        flex: 3;
        
    }

    .cart {
        margin-right: 0;
    }

    
}
@media screen and (max-width: 768px) {


    .navbarItem:nth-child(2) {
        display: none;
    }

    .navbarItem:nth-child(1) {
        flex: 3;
        
    }

    .cart {
        margin-right: 0;
    }

    
}
